Source: bearded-wookie
Section: misc
Maintainer: ${DEBFULLNAME} <${DEBEMAIL}>
Priority: extra
Build-Depends: golang, dh-make

Package: bearded-wookie
Section: misc
Architecture: all
Description: distributed configuration management.
