Source: bearded-wookie
Section: misc
Maintainer: ${DEBFULLNAME} <${DEBEMAIL}>
Priority: extra
Build-Depends: golang-1.24, dh-make, debhelper

Package: bearded-wookie
Section: misc
Architecture: amd64 arm64
Description: distributed configuration management.
