#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE"
	echo "$(CURDIR)"
	mkdir $(CURDIR)/bin
	mkdir $(CURDIR)/gocache
	mkdir $(CURDIR)/gomodcache
	ls -lha $(CURDIR)

	GOMODCACHE=$(CURDIR)/gomodcache GOCACHE=$(CURDIR)/gocache GOBIN=$(CURDIR)/bin /usr/lib/go-1.21/bin/go install -C ./src -buildvcs=false -ldflags="${BW_LDFLAGS}" ./cmd/...;
	ls -lha $(CURDIR)/bin

override_dh_auto_test:
	$(CURDIR)/bin/bw version

override_dh_auto_install:
	echo "DH AUTO INSTALL OVERRIDE"
