root: "${HOME}/development/bw/.bwagent4"
keepN: 3
minimumNodes: 3
snapshotFrequency: "3h"
servername: "localhost"
credentialsSource: "ACMEv2"
acme:
  email: "foo@example.com"
  caurl: "https://127.0.0.1:14000/dir"
  key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIISKAIBAAKCBAEA06+TVCr68/xnwVT7+GHNXpor4nqrgAlUk5TozDqj/h1yfkTM
    24y90tiY26mtshhetmPiwEt2Sk+QO8N56uJa71OIzw9tgqhe1eY6KlamTaIks3Hr
    vKHu7217n5SuSvzaHI6g46339uXQ/Bvq0p28nvGa/gqD9Yz2WJ1mRfZT9cpaj/B7
    rJWnofcTUqGleE+h31x9WFK46VQDHODbpYVGUVFx2ItaBZWwr/vTDTUYxms6VND5
    uIgKz/EjAWji42Of+DKhfph65e5NPSFd3n+e8etwdrqofQ5RlBQqqfXDYiENblKi
    VqzhNl5M+aSUNBFHuhQeiNc/7kvuPhBj+VGYhMrB+cvjvwY9G1frhjCq7FkPDn1r
    L/L1a/QKgAzJ8oUJfq/wfBVgDZVtQ9pmoGv7IgjM4Mr4lZLK8ir0d1Rc5RX8/3/0
    JY4BYtbWJ4O1Ornndto2nT4UtOALyww/GZRuusqYRlHhL1fHvhW6FTzJPJ/6+imX
    2q6lJxpSDU9zETjGUia7eolnZk8kdeb90rSnfk+poZUPG8YPnJV0xQaRLuQa9Ndw
    LsQtDR8V995YVHjO4HFZqCoV8QFNm7vhNMyi77dH0tTfVESO1i48SwizCsF2f34R
    Fp9CQc1KpQ0Qs5U5UeBrjpwv01CU5alJL2uoKt68M5RTKdSUDcaEUiqjeblbDcJx
    34heZvHuWcxuUmlEWSm+xz4PvXcHc7jkWIE3HZDe3+TowyU/wB23tp2V26b1zJD0
    YEnD1GQTdjO9GU9sbq2uwKNBFeIPBsPMd5Em1bImTjYrb5I278YW4/YU+AWsHwSM
    0d/f0+EQsCzXPPm85QXehIffHj4I2kaEQPRwlPIa880RAWZmVkzHWD6b0B2rD7hB
    BJOHVeORfoCguds32Y74pGvaZjPqO3YDo3Hz/W8sNjt2dYnWqRD7n9y3kuPo5dXM
    ql98i2cFFwhhE9+Jkv1/jamjWgq57rJ/Y1bsFTjKrEEPj7AbaaY+/CQM4wL5cMVI
    D+4sgjj7r7YaYIzmpd94tBoPGoCuCfZgZHu8AAvabIpV7OMp37tjf8Ej0IBVUcmr
    PEyJpZIVYT1RRmOnVcBuxUb8nLFg7hJnxohmFwW7VCQHkDQd9sWsmaFFPdJ3D/HF
    CFwjhdNVjC+QX3BNO9GnHMifcBJj+HHBL22uSiIlrkWMyQHxx1V/0bzE7J0wrjAP
    QvykvI0diWitbCkIFcic485xFKBay2r4GmNggnZ09yoX0NVSTsb5kJKkfyQaHoxE
    XusWcaa0szdDG7NMfvekg7zuA9sYiAtxDbHkLcJhbKARAUBe0qBmk+KmmtMFDBGP
    boFUIZVIUscx99NCCp7E/ZmXtbG69HaRUZQ+RwIDAQABAoIEAF8qhMqHFBESPTbu
    VOTiWyiXmPkVevpxt2Mtw8bk6gr5BBr+JTbivAgJNhcy3hK93/6RQ0R96G0Z/dbQ
    V4QgRQ9o941W+z2NIi15dlbIY7VtGqDNq1Q/XKKpDrW8aurtZ8UE3hHdiSenQ9/D
    UTtkjILMTYi+A3sl5y4JfQwg5LgQQ8yIKaF6GkW3RSmV4EUJT9WRyAwoDFdhXJDk
    CfsMwoMWYV8frtXp6OgFB2ndoAi79hphZJLwHiRD3R/qHm5pwGYdpPq75CxwiKrd
    0EySBUvvM708xziJcmVm95M3GKKKB3a8kZzz1b/SfzqQIcySpDNkjiGo22XvHukq
    Bzfz1eSFHtWFMxsS2+/qA8ltIbplg15ZRhHlYS4qJXpRxYxRAObChBPUrD0PG3Mw
    wYiHYvx3BlxdA4qC1tguNX9cHvMign3+8Szc/YSI3vgevx/qqcOF8J2aZka2nran
    B8shLvKs1+5tKxZUmUi8jc60aCfoKDXE8y7t6vN8Yrz3JdztMEOIhCpfkWuuUs7q
    jNvoOZCQkctBruwmi6gyjK9y91wkUnYWUKnFqhdHDWJExGMdeKvwaYUvfnO9yT0l
    JubMxMeOFy0SZGCG/cwONy7od01zkilY7KfF60yX1WIEUKjbgkxr3w7a6qlOhdIF
    3BAEjzLOtb9ehFC+79yNjbk+0AWNXHwwKhng7MWqG3cNk7ZqzAWlDl8UAYFxKgfH
    vQ0CShXHuQHJcYmRM8/CmxDIwzrjAxY/aV5eUbba0pyyff+pdJhQmpx5/f5aOg/a
    7/25U04GrLrzTiL/Ue2YuY5Oxwzf1vDkeRLuybrPkfwH/PPQM9+4SAc9X+Q0hc7E
    RJKYrRw8jSniYxt66HRAwKeNbdagwU5fBvr0lkI/rDYW++mEIS2SopEeRr9N73F3
    E/lLnz+zc+R2bOZ2DICjlzbXBsO+xs7hSdd9vlzu23BktMxzVmydeY5ypPdSep0C
    FFLq760c/ONr3e8lhXvGUlLjj+WWnub6K4z9WIjJr8f2EFD4NRyn6+bvbGr6NTIS
    OfQiigW9CA7DYHS/Y/6cpiy8TG+ou36xcPoTrxpLkSyCCzJJGFprGC31zY2AVu2n
    VR/6VvGuVVDOU/rUtfSMjJZSFJgSX/UB9e4seHqjbCCEk7EXcIMG+bZyNsrb+Lh6
    jHHImEzfyk1vXauWh7ePVYk1zGM0gMMoUYYJ83iLC5qW7Ddwcs+RTii+QwegmoQh
    xPFjIA++eNKENb+K+ethdxsa9qlq5bRzml7iq3bHLC8HSaPmDSLohJJ2ZG2lGskM
    Ejxn1jgbnkHVBe+TRbGHL8E5AdGDUOiIh8rMCUaYHeOb+mb1m3r9V8pHJbWoKkbp
    TzXV0VkCggIBAN6oBbiqhK02IUsG+URflc65GV9y/Usdi3xCUcg6liaQoeeoZ6yW
    S6evxunmgLvq0LEPdkM5boW6Niz9rIuAJ2u9brY2F4iN+7f4ARQFnt6lcXb+pMqG
    nF6S4HJaTIJsZJ9vdRfRCAQh7Xlr22LI5fdf1HyZZRBd2WHXazBenWacFGHfYMiU
    elGzwGeb9DS6b65lKqjAtEFJCCn2+xC2rCDVTnC5NX/ntuHfRoYJS7yDCpGkFKbV
    99A65vcoB4tGbnROKxqUxt5b+/gKWKUnCzeZSZhYKefmFnM8YRN7WXvM5OBBWtHd
    HTTBkuMbCNh07D8+jFLHFWO5Km/c0XGF4o52AfHQ57MVqJGV9Ls37qaQ1X+v2csD
    bx0InAepqbglcSciGgCQhnhFECZhQRNnzYyrcCA3yBnyQQzy1g76P6HSTcPxz0FF
    owgX3ZCuIhKKbzh4FyfT8Ry2tzRr1asBS2ujzFZUHcdDDIzAYxn2rbirDqhZoohG
    2jj9iI4Xn43If40Pr/gR0BTAS3YhNVLn1//aRE8cQ9lO94kaYsUWIB7WcrLjmjMM
    v3rWOjAvI2C9NRHZlFY/FgQt1goYyOAq7vwAKtpzjU1Pr3AKJp7MyBrT6Jb4+bgW
    GN9atxuVWeUd8z/CO5Ux2mMZYHl9f8Bd1lZUp1UFn8zIT3emvaNYPBWFAoICAQDz
    Yvoo79MkTegG+8Dd/ZQSBV3itlabVwpv7YTIpShNje8xhfaOCqTo/gK5LGp+sYBy
    5n5h9qCTHNMh4XimttDrsYFCQ/g27vcUdPERdygv/KiLf6JmN11bM1Ug0q5C5ctd
    rVCne2jVtkRs17UmrCUm6hhneY9xf2NgANTi4vsWVk8gZTCbnSL1xU1PnXHG9z7+
    +fL0vai24p7+1KRzkcbKm/zBrzwFEZ6ktDvixaP7uNM3cL17QWRq5wIPAzwYmCSO
    q7PUfoJVDcpUb2HLFfhPghe8mXZsQRXyMXBVZu6Z/1F07FbqRFfLO171uPb3JWtY
    CqTi+cmpQJimlqwKYK/D/+TSGXtecIvAfN/EYZwWiRZYsDMvvRSj1dtlc5clOCFW
    u8b9jumIxVYEGInEufpFxCr5azNrDV8B5dL4YjcaVxNmN9HTmeqHy/7NnfOe8f2/
    5/34OC1HIbl18Fs/5mAo/HW1UayLnh5+odDVJeu1CHH4grvte7t7ZFlUUtFoluEW
    M7+OjEOVYHpfoaoHG/vKz46BxfBgTakl5cnQBeeBxVRTNORs3tc5yERVrLtSAQTJ
    xHLlgmpyf7Xp6tEEQ9gAyu9OVX9XIEx/kxiNZhwQRRyhjtxiqYr5ccTx6Ziam/qk
    Q2tuiw/ZqYdtGC86UJfSbgHFNa9CfN04N0hbCQ24WwKCAgAeLsC3y8W4hUH2Hbfk
    oOB56XWbDsdvS04BRiw37Fk2WRzZfmavaqBO1vEr++cvkiFAH0x0yHBHCHsXljux
    nWm6nS9I3ARMqpKY2bGruSdUHzFGZDaKjbzcxSRP3BXLCE6LnlxNIjTn+oFqmEhh
    F8K0yfTP/ytIELDLJpyNLgZARqAstE82YYpDUQ6f/PAZxbwl8+jYf2bwAqpspeJa
    3ahvuvqrJTAvaoXMEKxKty/hGhJws8Fo7FBvlcyBbJe5NY77jS0iqVBcDDQX568k
    lCpdGxZy5GCp4vLgJCs0rN/wfFH6ZGGfWU4APM1go+WLEi6EVEJJZltr7UnnaBOs
    Q+32SeDxmtQN3r2/HojSaD6drbyDVp87efeyA9zC3Sj4oXq5R1InCXBxFUufKEfe
    DZA7pXHJrEYf3ksbKkACP8IoeY25JipmOr5i9nk+h5xuzv1MtlrNN1nT/qDPJl8M
    k1xZ9xZYDYcL3/bvjZThjCL4iZevEpeJybEDULsWJ/WlDqzbvmioRCHk7jxMgyvr
    VSpesIPaBYbdCmtb1ovVE66+/2sE/P2GNhAu4qN4rKsrDfsHtGr7Vgnx/xSowbtZ
    R/iliJBGlKtu84Jgub+Kf1AQ8vDwpkeTwMsWXAG+Z3yMJoc2+WmCTAPCs0n0riKH
    PTE0+rzENcL3y5+aJKxIXEmo0QKCAgAJmow4dU4ljpVrQR/ZIppnI6MSwRMlygd1
    Zy/oIuw2MzWPBLQ34p+jOfKtj90b5rEk14eBIhQv+eEy4wy5t1kDE9v/22K9+Cvz
    uLGSeNszGYslBgJIekLKyHnBc87AgQTHS4F1Ol9mn2yPxus0/XHx2SbhXmCUn+wx
    65Z65W328azpoFSMr2SjwgdM7u+AZF0t/nrhwWIY5VRUxds/XC8163XLxrhdktZp
    tVrvldDkq+RZua8gX/IwbbEdGomSht5aatgLuHo4FPU447Q+KT3FFWMOZBfSKbdN
    +TlvhUJA/Vwfevvq/otgT5VtqMDF+8oCjVj4Q9b7QLtFR4i+WBZXa4+B4tOFZHd/
    Pu4td5SLJxmkoj9C0PkxhczEcg0ywMY//+TYOH1qki7UtospIhWIDzeK4/oBbWOk
    VYc/mdCGz4zKacVzzgz9EsWZI3Rrfyz+F49j7gOLXP9Ocg+Hs/VzaJLUdsaSM8kM
    QiJVZsuoNw8YOUBlHI7HTaxgsWvl7p4vHBeg7lP0Xvw1LdHhue7zj8EVydO0WRwl
    jK2r8a+y5TBwoBOrYBeqBgb8QnaZw8SGmaPW/pBouDVbZ5Kb0nmBfoB23NTLgVDD
    b/B2E+NjmPaKQXLcycfcE+sriIYnA6SeOrLQh9g2RIQ9f8jNSkTTXtffCkFCJF8u
    SrAmN3M9JQKCAgEAwRDfY/gcaQti96089Vi5iJqDLBhj3lEUB3sjYPZfTXuH6Di6
    4sEQfMxEGJU7AC3ZUCdJa2Iy0BpLDE4VCpGqg8IczIEwjQF+FAdQGe8Srw2KCFnb
    Ia3m0sCawBGNMCBbcKjFxwiwCqrn4etZCvbyPpsQLPemCTzTcV9nj/9scQKpCDUV
    w6THTFpCIR8Zh3H+EsT8H6GPMvAApT8juGxqLSsamt6DKSyGEplGJWieo5ucSjbt
    eFfypx5gFjbHVsX0QCOkBjVlgCNnToaGL7ZkwWkyFXbyvaU7a8cL9IkKh+HEyGNg
    4JS2LhTE3OSvWpRztl+OzBv7hkwoxGLrHtXJWd7vURsf/T1owDUKChxUsP+wQmhG
    lzWQ2Gq6nUSnEZyhSRgxHkZIcbtxhC5RJtp+1x+ZNKxoyg0XWv8SFFSt8b8U++ie
    46fuD1VNkHQJWIsFUsY9yt7mWwaMR9SJFGY4ePzx/qtg3rE2Mzh78CijDDtgUBpK
    HNFxoNiz1msKQWoGaNxkCybXTZWndC9tmWNXmzG0PDqGGKtoCocYUc+X/kIo5piP
    jvDDq/d1Io9SKhPHmUM7dU6YuG8j/EJxLHn0GJlApGMlftw6DdUTRSRP6PMJOJky
    NYoNrrtT7ZYv0PdmNXAzMxnzACfaAdC4AF0D3vmEL+j1on5arzGncHNDJOU=
    -----END RSA PRIVATE KEY-----
  port: 5001 # port for pebble
