root: "/shared/james-lawrence/development/bw/.bwagent4"
keepN: 3
tlsconfig:
  servername: "wambli.talla.io"
  cert: "/shared/james-lawrence/.config/bearded-wookie/default/tlsserver.cert"
  key: "/shared/james-lawrence/.config/bearded-wookie/default/tlsserver.key"
  ca: "/shared/james-lawrence/.config/bearded-wookie/default/tlsca.cert"
storage:
  backend: s3
  options:
    bucket: example
    key_prefix: foo
