root: "${CACHE_DIRECTORY}"
keepN: 3
minimumNodes: 3
snapshotFrequency: "3h"
servername: "example.com"
bootstrap:
  archiveDirectory: "${STATE_DIRECTORY}/.bootstraps"
acme:
  email: "jdoe@example.com"
  caurl: "https://127.0.0.1:14000/dir"
notary:
  authority: [
    "${HOME}/.config/bearded-wookie/private.key.pub",
  ]
