[Unit]
Description=bearded-wookie agent
After=network.target

[Service]
Type=simple
Restart=always
StateDirectory=%p/%i
RuntimeDirectory=%p/%i
CacheDirectory=%p/%i
# ${HOME}/.cache/bearded-wookie/agent1/agent.env
EnvironmentFile=-%C/%p/%i/agent.env
Environment=HOME=%h
Environment=LEGO_CA_CERTIFICATES="%h/go/src/github.com/letsencrypt/pebble/test/certs/pebble.minica.pem"
ExecStartPre=/usr/bin/echo "cache=${CACHE_DIRECTORY} state=${STATE_DIRECTORY}"
ExecStart=%h/go/bin/bw agent --agent-name="%i" --agent-config="%C/%p/%i/agent.config" ${CLI_OPTIONS}

[Install]
WantedBy=default.target
