[Unit]
Description=bearded-wookie agent
After=network.target

[Service]
Type=simple
Restart=always
StateDirectory=%p/%i
RuntimeDirectory=%p/%i
CacheDirectory=%p/%i
WorkingDirectory=%h/.config/%p
SyslogIdentifier=%p
Environment=PEBBLE_VA_NOSLEEP=1
Environment=PEBBLE_WFE_NONCEREJECT=0
ExecStartPre=/usr/bin/echo "cache=${CACHE_DIRECTORY} state=${STATE_DIRECTORY} runtime=${RUNTIME_DIRECTORY} - ${PWD}"
ExecStart=%h/go/bin/pebble -config ${STATE_DIRECTORY}/config.json

[Install]
WantedBy=default.target