# keepN controls how many previous deployments to keep around.
keepN: 5
# minimumNodes controls how many nodes are required for bootstrapping to consider continuing.
# defaults to 3.
minimumNodes: 0
# servername is the name used for TLS credentials.
servername: "example.com"
# cluster tokens are keys to ensure the gossip protocol only talks with other servers
# who are part of the same cluster.
clusterTokens:
  - "a0957fe8"
# acme is for configuring lets encrypt's ACME protocol.
# only an email is required, bearded wookie only supports DNS and ALPN strategies.
acme:
  email: "${acme_email}"
  challenges:
    dns: true
    alpn: false
# notary is for configuring authorization of end users with the cluster.
notary:
  # where to load default authority from. defaults to the agent's user's ssh authorized_keys file.
  # by overriding this you can load keys from other files, or none.
  authorization: ["/root/.ssh/authorized_keys"]
