[Unit]
Description=bearded-wookie coordinator agent, used to upload, deploy to other servers.
# available environment variables.
Documentation=https://github.com/james-lawrence/bw/blob/master/environment.go
After=network.target
Conflicts=bearded-wookie.service

[Service]
Type=simple
Restart=always
Slice=bma.slice
ConfigurationDirectory=%N
CacheDirectory=%N
# Load the environment variables specified by agent.env.
EnvironmentFile=-/etc/bearded-wookie/default/agent.env
# specify the shell used for running commands.
Environment=SHELL=/bin/bash
ExecStart=/usr/bin/bw agent coordinator

[Install]
Alias=bearded-wookie-agent.service
WantedBy=default.target