[Unit]
Description=bearded-wookie agent runs the daemon to install the packages locally
# available environment variables.
Documentation=https://github.com/james-lawrence/bw/blob/master/environment.go
After=network.target
Conflicts=bearded-wookie-coordinator.service bearded-wookie.service

[Service]
Type=simple
Restart=always
Slice=bearded-wookie.slice
ConfigurationDirectory=%N
CacheDirectory=%N
RuntimeDirectory=%N
# Load the environment variables specified by agent.env.
# to see all available environment variables and their uses
# see https://github.com/james-lawrence/bw/blob/master/environment.go.
EnvironmentFile=-/etc/bearded-wookie-agent/default/agent.env
# keep previous path around for backwards compatibility.
EnvironmentFile=-/etc/bearded-wookie/default/agent.env
# specify the shell used for running commands.
Environment=SHELL=/bin/bash
ExecStart=/usr/bin/bw agent

[Install]
WantedBy=default.target
