[Unit]
Description=bearded-wookie deployment notifications
After=network.target
Requires=bearded-wookie-agent.service

[Service]
Type=simple
Restart=always
Slice=bma.slice
ConfigurationDirectory=%N
CacheDirectory=%N
EnvironmentFile=-/etc/bearded-wookie/default/agent.env
ExecStart=/usr/bin/bw notify

[Install]
WantedBy=bearded-wookie.service
WantedBy=bearded-wookie-agent.service
