[Unit]
Description=bearded-wookie utility for updating dns records for deploys/bootstraps.
After=network.target
Requires=bearded-wookie-agent.service

[Service]
Type=oneshot
Slice=bma.slice
EnvironmentFile=-/etc/bearded-wookie/default/agent.env
ExecStart=/usr/bin/bwaws dns
