[Unit]
Description=bearded-wookie agent
After=network.target

[Service]
Type=simple
Restart=always
EnvironmentFile=-/etc/bearded-wookie/default/agent.env
Environment=SHELL=/bin/bash
# enable verbose logging. enables all of the BEARDED_WOOKIE_LOGS_ switches.
#Environment=EnvLogsVerbose=1
# enable verbose logging for the gossip service.
#Environment=EnvLogsGossip=1
# enable verbose logging for the raft service.
#Environment=EnvLogsRaft=1
ExecStart=/usr/local/bin/bw agent --cluster-dns-enable

[Install]
WantedBy=default.target
