polkit.addRule(function(action, subject) {
  switch(action.id) {
    case "org.freedesktop.packagekit.system-sources-refresh":
    case "org.freedesktop.packagekit.package-install":
      if(subject.user == "root") {
        return polkit.Result.YES;
      }
    default:
      return polkit.Result.NOT_HANDLED
  }
});
