[Unit]
Description=restart bearded-wookie every week, ensuring a new certificate.
Wants=weekly.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl try-restart bearded-wookie.service

[Install]
WantedBy=weekly.target
